@page "/"
@using Janar.DataTable.Components

<h3>Sortable DataTable</h3>

<DataTable TItem="Employee"
            Items="@employees"
            ColumnConfigurations="@clmnOrderConfigs"
            OnEdit="EditEmployee"
            OnDelete="DeleteEmployee" />

<hr />